.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.overlay {
  position: fixed;
  opacity: 0.9;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.cute-stars {
  background-image: url(https://media.tenor.com/OEBMpSbcexUAAAAj/stars.gif);
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  position: fixed;
  opacity: 0.3;
}

.main {
  position: absolute;
  top: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  left: 0;
  right: 0;
}