@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.mainContent {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 4;
    flex-direction: column;
    margin: auto;
    width: 500px;
    height: 750px;
    position: relative;

    font-family: 'Mate SC', serif;
    margin-top: 100px;
}

.eventDetails {
    font-size: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    color: white;
}

@media only screen and (max-width: 600px) {
    .mainContent {
        margin-top: 0;
        width: 150px;
        height: 100vh;
    }

    .eventDetails {
        font-size: 1.5rem;
    }
} 

#special {
    color: gold;
}

.gifCentral {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin: 10px 0;
}